/* GLOBAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

:root {
  --header-bg-color: #343a40;
  --header-txt-color: #ffffff;
  --main-txt-color: #212529;
  --city-list-bg-color: #ffffff;
  --city-list-txt-color: #495057;
  --forecast-list-color: #ffffff;
  --search-section-bg-color: #f8f9fa;
  --main-border-color:  #dfdfdf;
  --search-btn-bg-color: #007bff;
  --search-btn-border-color: #8fc4fd;
  --forecast-card-border-color: #000000;
  --forecast-card-bg-color: #007bff;
}

/* HEADER STYLING */
header h1 {
  padding: 15px;
  background-color: var(--header-bg-color);
  color: var(--header-txt-color);
  font-size: 40px;
  text-align: center;
}

/* MAIN STYLING */
/* use grid display */
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

/* set main font colors */
#search-bar-title,
#city-section h2,
#forecast-section h3,
.weather-list-item {
  color: var(--main-txt-color);
}

#city-list li {
  color:var(--city-list-txt-color);
}

#forecast-card {
  color: var(--forecast-list-color);
}
/* end set main font colors */

/* search-section (left-column) styling */
#search-section {
  margin-right: 20px;
  padding: 10px 15px 0px 10px;
  background-color: var(--search-section-bg-color);
}

#search-bar-title {
  font-size: 20px;
  margin-bottom: 10px;
}

#search-input {
  height: 35px;
  padding: 0 10px;
  font-size: 20px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  vertical-align: middle;
}

#search-btn {
  height: 40px;
  width: 40px;
  background-color: var(--search-btn-bg-color);
  border: 3px solid var(--search-btn-border-color);
  border-radius: 5px;
  vertical-align: middle;
}

.fa-search {
  color: white;
}

#city-list {
  margin: 15px 0;
  list-style: none;
}

#city-list li {
  padding: 15px;
  border: 1px solid var(--main-border-color);
  border-radius: 2px;
  background-color: var(--city-list-bg-color);
}

/* results-section (right-column) styling */
#city-section {
  margin-top: 15px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  padding: 20px;
}

#city-section h2 {
  display: inline;
  font-size: 28px;
  vertical-align: middle;
}

#current-weather-icon {
  vertical-align: middle;
}

#weather-list {
  padding: 20px 0 10px 0;
}

.weather-list-item {
  list-style: none;
  padding: 10px 0;
  font-size: 18px;
}

#forecast-title {
  margin: 20px 0 5px 0;
  font-size: 24px;
}

#forecast-card {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: start;
}

#forecast-card li {
  list-style: none;
  padding: 10px;
  width: 80%;
  background-color: var(--forecast-card-bg-color);
  border: 1px solid var(--forecast-card-border-color);
  border-radius: 5px;
}

#forecast-card li h4 {
  font-size: 20px;
}

#forecast-card li img {
  display: block;
  padding-top: 10px;
}

.forecast-temp {
  padding-top: 5px;
  padding-bottom: 20px;
}
